*{
            margin: 0;
            padding: 0; 
            box-sizing: border-box;
            color: #2c2c2c;
}
.flex{
            display: flex;
            justify-content: space-between;
            padding-left: 150px;
            padding-right: 250px;
}
.fbox{
            margin-top: 110px;
}
.fbox h1{
            font-size: 50px;
            padding-bottom: 20px;
}
.fbox p{
            font-size: 25px;
            color: rgb(155, 154, 154);
            font-weight: 100;
}
.fbox i{
            font-size: 30px;
            padding: 20px 0px;
}
.fbox h2{
            font-size: 25px;
            font-weight: 400;
            color: rgb(242, 115, 69); 
            padding-top: 20px;
}
.fbox h3{
            font-size: 23px;
}
.fbox .pr{
            font-size: 20px;
            color: rgb(155, 154, 154);
            font-weight: 100;
}
.fbox .f-box1{
            display: flex;
}
.f-box1 button{
            width: 80px;
            height: 50px;
            margin-right: 20px;
            border-radius: 5px;
            border: none;
}
.f-box{
            display: flex;
}
.f-box div{
            margin-right: 10px;
            margin-top: 20px;
            font-size: 20px;
}
.p1{
            margin-top: 30px;
}
.p1 p{
            font-size: 19px;
            color: black;
            font-weight: 400;
}
.p1 a{
            color: black;
            text-decoration: underline;
}
.btn button{
           width: 250px;
           height: 50px;
           border-radius: 50px;
           border: none;
           background-color: rgb(252, 104, 50);
           color: white;
           margin: 50px 0px;
           margin-left: 560px;
}
.fff{
            display: flex;
            justify-content: space-between;
            
        }
        footer p{
            color: black;
            font-size: 15px;
            font-weight: 400;
            margin: 20px 30px 20px 0px;
        
        }
        .footers{
            display: flex;
            font-size: 14px;
            padding: 10px 10px 20px 90px;
        }
        .fff .footers a{
            color: #5f5d5d;
            text-decoration: none;
            padding: 15px;
        }

