*{
            margin: 0;
            padding: 0; 
            box-sizing: border-box;
            color: #2c2c2c;
}
.navbar{
            width: 100%;
            
            
}
.showcase{
            width: 100%;
            height: 430px;
            background: url(../e-commerce/items/w-bg.jpg) no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
         
        }
        .showcase .overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            background:rgb(0,0,0,0.6) ; 
            z-index: 1;
        }
       .content1{
            z-index:2 ;
       }
        .back-button{
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius:none;
            margin: 20px 0px -20px 50px;
            border: none;
            background-color: transparent;
            text-align: center;
            text-decoration: none;

}
.back-button i{

            font-size: 40px;
            color: rgb(208, 205, 205);
            
}
.back-button:focus-within{

            outline: none;
}
img{
            width: 350px;
            height: 300px;
            background-color: transparent;
            background: transparent;  
}
 img:hover{
            filter: drop-shadow(5px 10px 10px rgba(0,0,0, 0.9));
 }   
.content{
            text-align: center;
            z-index: 3;
}
.content h1{
            font-size: 50px;
            color: white;
            margin-bottom: 20px;
}
.content p{
            font-size: 25px;
            color:rgb(128, 125, 125);
}
.flex{
            display: flex;
            width: 100%;
            justify-content:space-evenly;
            margin-top: 100px;
}
.box1 img{
            width: 200px;
            height: 300px;
            margin-bottom: 35px;
}
.box1{
            width: 300px;
            text-align: center;
}
.box1 p{
            color: rgb(186, 184, 184);
            font-size: 20px;
}
.box1 h2{
            font-size: 28px;
            font-weight: 400;
}
.line{
            width: 270px;
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            
}
.line i{
            padding-left: 20px;
            color: rgb(92, 91, 91);
            font-weight: 300;
}

.btn1{
      width: 150px;
      height: 50px;
      border-radius: 50px;
      border: none;
      background-color: rgb(245, 103, 51);
      color:white;
      margin-top: 70px;
      margin-bottom: 70px;
      margin-left: 650px;
}
.btn1:hover{
            box-shadow: 0px 9px 30px -6px black;
            background-color: rgb(252, 118, 70);
}
.btn1:focus-within{
            outline: none;
}
.fff{
            display: flex;
            justify-content: space-between;
            
        }
        footer p{
            color: black;
            font-size: 15px;
            font-weight: 400;
            margin: 20px 30px 20px 0px;
        
        }
        .footers{
            display: flex;
            font-size: 14px;
            padding: 10px 10px 20px 90px;
        }
        .fff .footers a{
            color: #5f5d5d;
            text-decoration: none;
            padding: 15px;
        }

